<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <!-- Header -->
    <header class="transparent-header">
        <nav>
            <ul>
                <li><a href="#AboutMe">Me</a></li>
                <li><a href="#Acedamics">Education</a></li>
                <li><a href="#Skills">Skills</a></li>
                <li><a href="#Experience">Experience</a></li>
                <li><a href="#Projects">Projects</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Page 1 -->
    <section class="section" id="AboutMe">
        <div class="content">
            <div class="left">
                <h1>Kousha Amouzesh</h1>
                <p style="font-size: 20px;  line-height: 1.5; margin-bottom: 20px;">
                    I am a 20-year-old Computer Science student at Simon Fraser University in Burnaby,
                    British Columbia. Since I was young, I have been fascinated by the potential of computer science
                    and mathematics, beginning by the first space ship game I made at 14. As I advance in my academic journey,
                    I am consistently inspired by the projects that connect the endless world of mathematics with computer science. 
                    I am currently looking for a co-op position in the remainder of 2023.</p>
                <p style="font-size: 20px;  line-height: 1.5; margin-bottom: 20px;">Aside from my passion for technology and academia, I am highly competitive and dedicated to sports. I have pursued competitive swimming for 8 years. Moreover, I have been actively engaged in recreational soccer, enjoying the complexity and thrill of the game. Besides, I grew up with musical instruments in hand, and I play the Persian Tombak, a bit of piano and drums.</p>
            </div>
            <div class="right">
                <img src="https://github.com/KoushaAm/Portfolio/blob/master/Screenshot%202023-05-28%20at%209.43.43%20PM.png?raw=true" alt="My Image"  style="max-width: 50%; height: auto; margin-left: 100px; margin-top: 20px;">
            </div>
        </div>
    </section>

    <section class="section" id="Acedamics">
        
        <div class="content">
            <div style="font-size: 20px;">
                <h1 style = "font-size: 50px;">Education</h1>
                <hr>
                <div style = "padding: 10px"> 
                    <h3 style = "margin-left: 20px; margin-right: 20px">Simon Fraser University</h3>
                    <p style = "margin-left: 20px; margin-right: 20px">Pursuing BSC in Computer Science</p>
                    <p style = "margin-left: 20px; margin-right: 20px">GPA: (A) 3.92/4.33</p>
                    <p style = "margin-left: 20px; margin-right: 20px">Expected Graduation: December 2025</p>
                </div>
                
                <hr>

                <div style = "padding: 10px">
                    <h3 style = "margin-left: 20px; margin-right: 20px">Academic Objectives</h3>
                    <p style = "margin-left: 20px; margin-right: 20px">My academic objectives are to pursue a graduate degree in Computer Science focused upon Machine learning studies. </p>
                    <p style = "margin-left: 20px; margin-right: 20px"> I plan to accomplish this goal after acquiring hands-on skills in industry through co-op and full-time software development/ engineering positions.</p>
            
                </div>
                
                <hr>
            </div>
        </div>
    </section>

    <!-- Page 1 -->
    <section class="section" id="Skills">
     
        <div class="content">
            
            <table>
                <caption style="font-size: 70px;"><strong>Skills</strong></caption>
                <thead>
                    <tr >
                        <th>Languages</th>
                        <th>Tools</th>
                        <th>Soft-skils </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Java</td>
                        <td>Node.js</td>
                        <td>Leadership</td>
                        
                    </tr>
                    <tr>
                        <td>Python</td>
                        <td>React.js</td>
                        <td>Teamwork</td>
                    </tr>
                    <tr>
                        <td>JavaScript</td>
                        <td>Next.js</td>
                        <td>Planning</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>EJS</td>
                        <td>Public Speaking</td>
                    </tr>
                    <tr>
                        <td>C++</td>
                        <td>PyTorch</td>
                        <td>Communication</td>
                    </tr>
                    <tr>
                        <td>R</td>
                        <td>Tensorflow</td>
                        <td>Agile Development</td>
                    </tr>
                    <tr>
                        <td>HTML</td>
                        <td>Firebase</td>
                        <td>Fluent in Farsi</td>
                    </tr>
                    <tr>
                        <td>CSS</td>
                        <td>Web APIs</td>
                        <td>Teaching</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="section" id="Experience">
     
            <div class="content">
                <div style="font-size: 20px;">
                    <h1 style = "font-size: 50px;">Experience</h1>
                    <div style = "padding: 10px"> 
                        <h3 style = "margin-left: 20px; margin-right: 20px">Simon Fraser University</h3>
                        <p style = "margin-left: 20px; margin-right: 20px">Pursuing BSC in Computer Science</p>
                        <p style = "margin-left: 20px; margin-right: 20px">GPA: (A) 3.92/4.33</p>
                        <p style = "margin-left: 20px; margin-right: 20px">Expected Graduation: December 2025</p>
                    </div>
                    
    
                    <div style = "padding: 10px">
                        <h3 style = "margin-left: 20px; margin-right: 20px">Academic Objectives</h3>
                        <p style = "margin-left: 20px; margin-right: 20px">My academic objectives are to pursue a graduate degree in Computer Science focused upon Machine learning studies. </p>
                        <p style = "margin-left: 20px; margin-right: 20px"> I plan to accomplish this goal after acquiring hands-on skills in industry through co-op and full-time software development/ engineering positions.</p>
                
                    </div>
                    
                </div>
            </div>
    </section>
    

    <!-- Page 2 -->
    <section class="section" id="Projects">
        <div class = "content">
            <div class="projects-row" style="margin-top: 80px;">
                <div style="width: 100%;">
                    <h1>Projects</h1>
                </div>
                <div class="project-card active">
                    <h2>Job Seeking Platform</h2>
                    <p>A website where users can search for jobs at their location 
                        and save or apply for their desired jobs. A fully working data
                         base to keep track of job records.</p>
                    <button>Learn More</button>
                </div>
                
                <div class="project-card">
                    <h2>Math2Latex</h2>
                    <p>Uses deep learning CNN model with pytorch to predict the mathematical symbol
                         and predict upon the input image.</p>
                    <button>Learn More</button>
                </div>
    
                <div class="project-card">
                    <h2>Survey Manager</h2>
                    <p>A Java based windows application to manage the created survey by users.
                         The application provides users with opportunites to collect data from their custom surveys and edit them as desired</p>
                    <button>Learn More</button>
                </div>
    
                <div class="project-card">
                    <h2>Path Finding Algorithm Visulization</h2>
                    <p>A C++ program to shortest path between two points in an input image.
                         The app contains comprehensiv unit testing and OOP structure of various
                          common data structures</p>
                    <button>Learn More</button>
                </div>
                <div class="project-card">
                    <h2>Food Prediction Model</h2>
                    <p>Built a CNN model on tensorflow to predict the name of 10 different dishes based
                         on their images. The model is trained on 10,000 images</p>
                    <button>Learn More</button>
                </div>
                <div class="project-card">
                    <h2>Word Soduko App</h2>
                    <p>Created a Java-based Android Sudoku game with multiple language levels and modes, utilizing a vast word database for translations.</p>
                    <button>Learn More</button>
                </div>

                <div class="project-card">
                    <h2>Deep Learning</h2>
                    <p> I have also worked on several other multi-class & Binary classification projects with raw and processed using tensorflow</p>
                    <button>Learn More</button>
                </div>


            </div>
        </div>
        
    </section>
    

    <!-- Page 3 -->
    <section class="section" id="Contact">
        <div class="content">
            <div class="left">
                <h1 style="margin-right: 50px;">Contact</h1>
            </div>
            <div class="right" style="font-size: 20px;">
                <a href="https://www.linkedin.com/in/kousha-amouzesh-b31445232/" class="link">Linkedin</a>
                
                <p>koushaamouzesh@gmail.com</p>
                <a href="https://github.com/KoushaAm?tab=overview&from=2023-05-01&to=2023-05-28" class="link">Github</a>
                <p>604-782-2974</p>
                <p>Vancouver, B.C., Canada</p>
            </div>
        </div>
    </section>

    <script>
        // Smooth scroll to a specific section on navigation link click
        const navLinks = document.querySelectorAll('header.transparent-header nav ul li a');
        navLinks.forEach(link => {
            link.addEventListener('click', (event) => {
                event.preventDefault();
                const targetSectionId = link.getAttribute('href');
                const targetSection = document.querySelector(targetSectionId);
                targetSection?.scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });

                // Adjust image position on window resize
        function adjustImagePosition() {
            const content = document.querySelector('.section#AboutMe .content');
            const left = document.querySelector('.section#AboutMe .content .left');
            const right = document.querySelector('.section#AboutMe .content .right');

            if (window.innerWidth < 768) {
                content.style.flexDirection = 'column';
                right.style.marginLeft = '0';
                right.style.marginTop = '0';
                left.style.marginRight = '0';
                left.style.marginLeft = '0';
            } else {
                content.style.flexDirection = 'row';
                right.style.marginLeft = '100px';
                right.style.marginTop = '20px';
                left.style.marginRight = '50px';
                left.style.marginLeft = '50px';
            }
        }

        window.addEventListener('resize', adjustImagePosition);
        window.addEventListener('load', adjustImagePosition);
    </script>
</body>

<style>
    body {
        margin: 0;
        padding: 0;
    }

    .section {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        font-size: 36px;
        overflow: hidden; /* Ensure the image doesn't exceed section boundaries */
    }

    .section .content {
        display: flex;
        align-items: center;
    }

    .section .content .left {
        width: 50%;
        padding: 20px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .section .content .right {
        width: 50%;
    }

    .section .content .right img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .transparent-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: transparent;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        z-index: 9999;
    }

    .transparent-header ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        font-family: 'Times New Roman', Times, serif;
    }

    .transparent-header ul li {
        margin-right: 20px;
    }

    .transparent-header ul li:last-child {
        margin-right: 0;
    }

    .transparent-header ul li a {
        color: #ffffff;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        transition: color 0.3s ease;

    }

    .transparent-header ul li a:hover {
        color: #626161;
    }

    .projects-row {
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start; /* Adjust alignment to start */
        margin-top: 20px; /* Increase the top margin for separation */
    }

    .project-card {
        margin-top: 20px;
        margin-left: 10px; 
        margin-right: 10px; 
        width: 250px;
        height: 250px;
        background-color: #1f1e1e;
        border-radius: 2px;
        color: #ffffff; 
        padding: 20px; 

        transition: all 300ms;
    }

    .project-card:hover {
        opacity: 0.8;
        transform: scale(1.10);
    }

    @media (max-width: 600px) {
        .projects-row {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
    }

    .project-card h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .project-card p {
        font-size: 16px;
        line-height: 1.4;
        margin-bottom: 20px;

    }

    .project-card button {
        font-size: 16px;
        padding: 10px 20px;
        background-color: #000000;
        color: #ffffff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .project-card button:hover {
        background-color: #aaaaaa;
    }

    .card {
        width: 190px;
        height: 254px;
        background: rgb(46, 44, 44);
        transition: all 300ms;
    }

    .card:hover {
        opacity: 0.8;
        transform: scale(1.10);
    }

    .link {
        color: #ffffff;
        text-decoration: none;
        margin-right: 10px;
        
    }

    .link:hover {
        /* color: #626161; */
        background-color: #aaaaaa;
    }
    table {
            border-collapse: collapse;
        }

        table th,
        table td {
            padding: 10px;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.3);
        }

        table th {
            background-color: rgba(0, 0, 0, 0.1);
        }

        table tr:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.05);
        }

        table tr:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.1);
        }
</style>

</html>
